* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  color: #eee;
}

window#waybar {
  background: rgba(20, 20, 20, 0.3);
  border: none;
  box-shadow: none;
}

#custom-app,
#hyprland-workspaces button,
#custom-power,
#clock {
  background: rgba(40, 40, 40, 0.7);
  border-radius: 6px;
  padding: 4px 12px;
  margin: 0 6px;
  min-width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease, color 0.2s ease;
}

#hyprland-workspaces button {
  margin: 0 4px;
  padding: 4px 10px;
}

#hyprland-workspaces button.active {
  background: rgba(80, 250, 123, 0.9);
  color: #282a36;
  font-weight: bold;
}

#custom-power:hover,
#custom-app:hover,
#clock:hover,
#hyprland-workspaces button:hover {
  background: rgba(80, 250, 123, 0.9);
  color: #282a36;
}
