* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  color: #ffffff;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0); /* przezroczysty pasek */
}

#custom-app{ 
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 6px;
  padding: 1px 6px;  
  margin: 2px 4px;
  font-size: 14px;
}

#custom-power,

#clock {
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 6px;
  padding: 1px 6px;  
  margin: 2px 4px;
  font-size: 14px;
}

/*
#hyprland-workspaces button {
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 6px;
  padding: 1px 6px; 
  margin: 2px 4px;
}
*/

#custom-power {
  font-size: 20px; /* powiększona ikona zasilania */
  color: #ff5555;
}

#battery {
  background-color: rgba(40, 40, 40, 0.7);
  padding: 1px 6px;  
  margin: 2px 4px;
  border-radius: 6px;
  color: #50fa7b;
  font-weight: bold;
  font-size: 14px;
  padding: 0 8px;
}

/*
#hyprland-workspaces button.active {
  background-color: rgba(80, 250, 123, 0.9);
  color: #000000;
  font-weight: bold;
}
*/

#custom-app:hover,
#custom-power:hover,
#clock:hover,

/*
#hyprland-workspaces button:hover {
  background-color: rgba(100, 255, 150, 0.9);
  color: #000000;
}
*/

#battery:hover {
  color: #8be9fd;
}
